@font-face {
  font-family: 'icomoon';
  src: url('/static/fonts/icomoon.eot?u0uasr');
  src: url('/static/fonts/icomoon.eot?u0uasr#iefix') format('embedded-opentype'), url('/static/fonts/icomoon.ttf?u0uasr') format('truetype'), url('/static/fonts/icomoon.woff?u0uasr') format('woff'), url('/static/fonts/icomoon.svg?u0uasr#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-weixin:before {
  content: "\e900";
  color: #00d00d;
}
.icon-anzhuo:before {
  content: "\e901";
}
.icon-iOS:before {
  content: "\e92f";
}
.icon-yishoucang:before {
  content: "\e930";
  color: #ff8609;
}
.icon-baocun:before {
  content: "\e901";
  color: #4c93fd;
}
.icon-baokuanresou:before {
  content: "\e902";
  color: #fff;
}
.icon-bianji:before {
  content: "\e903";
  color: #fff;
}
.icon-chenggong:before {
  content: "\e904";
  color: #ff8400;
}
.icon-chenggongfabu:before {
  content: "\e905";
  color: #4c93fd;
}
.icon-dangkou:before {
  content: "\e906";
  color: #fff;
}
.icon-dianhua:before {
  content: "\e907";
  color: #666;
}
.icon-dingdan:before {
  content: "\e908";
  color: #666;
}
.icon-erweima:before {
  content: "\e909";
  color: #666;
}
.icon-fangda:before {
  content: "\e90a";
  color: #999;
}
.icon-fengxiang2:before {
  content: "\e90b";
  color: #4c93fd;
}
.icon-fenxiang1:before {
  content: "\e90c";
  color: #666;
}
.icon-gengduo:before {
  content: "\e90d";
  color: #4c93fd;
}
.icon-gongying:before {
  content: "\e90e";
  color: #fff;
}
.icon-guanbi1:before {
  content: "\e90f";
  color: #4c93fd;
}
.icon-guanbi2:before {
  content: "\e910";
  color: #666;
}
.icon-hezuo:before {
  content: "\e911";
  color: #666;
}
.icon-huaxin:before {
  content: "\e912";
  color: #666;
}
.icon-jiantou:before {
  content: "\e913";
  color: #fff;
}
.icon-kefu:before {
  content: "\e914";
  color: #666;
}
.icon-mima:before {
  content: "\e915";
  color: #d1d1d1;
}
.icon-qiugou:before {
  content: "\e916";
  color: #fff;
}
.icon-rucang:before {
  content: "\e917";
  color: #fff;
}
.icon-ruzhu:before {
  content: "\e918";
  color: #fff;
}
.icon-shanchu_hui:before {
  content: "\e919";
  color: #666;
}
.icon-shangchuan:before {
  content: "\e91a";
  color: #4c93fd;
}
.icon-shangchuanhuaxing:before {
  content: "\e91b";
  color: #999;
}
.icon-shiyi:before {
  content: "\e91c";
  color: #fff;
}
.icon-shiyihui:before {
  content: "\e91d";
  color: #666;
}
.icon-shoucang:before {
  content: "\e91e";
  color: #666;
}
.icon-shouji:before {
  content: "\e91f";
  color: #d1d1d1;
}
.icon-sousuo:before {
  content: "\e920";
  color: #666;
}
.icon-suoxiao:before {
  content: "\e921";
  color: #999;
}
.icon-suoyang:before {
  content: "\e922";
  color: #666;
}
.icon-tishi:before {
  content: "\e923";
  color: #ff8400;
}
.icon-wancheng:before {
  content: "\e924";
  color: #5bd971;
}
.icon-xiangji:before {
  content: "\e925";
  color: #fff;
}
.icon-xiangshang_hui:before {
  content: "\e926";
  color: #999;
}
.icon-xiayi:before {
  content: "\e927";
  color: #999;
}
.icon-xuankuang:before {
  content: "\e928";
  color: #999;
}
.icon-xuanze:before {
  content: "\e929";
}
.icon-xuanzhong-copy-2:before {
  content: "\e92a";
  color: #4c93fd;
}
.icon-xuanzhong:before {
  content: "\e92b";
  color: #4c93fd;
}
.icon-xunjia:before {
  content: "\e92c";
  color: #666;
}
.icon-yichu:before {
  content: "\e92d";
  color: #999;
}
.icon-yishang:before {
  content: "\e92e";
  color: #999;
}
