.ranking {
  height: 56px;
  width: 44px;
  overflow: hidden;
  background: url('/static/images/assets/sprite.png')no-repeat;
  display:inline-block;
}
.ranking_0{
  background-position-x:0;
}
.ranking_1{
  background-position-x:-44px;
}

.ranking_2{
  background-position-x:-88px;
}
