@charset 'utf-8';
html,body{
  line-height: 1;
  font-weight: 200;
  font-family: "Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB";
  color: #333;
}

html, body, body > div {
  height: 100% /*stickyfooter布局*/
}

.main-wrapper {
  height: auto;
  min-height: 100%;
  width: 100%;
  background: #F2F2F2;
}

.main-wrapper .main {
  box-sizing: border-box;
  width: 1200px;
  margin: 0 auto;
  padding-bottom: 80px;
}
.footer-wrapper {
  position: relative;
  margin-top: -80px;
  height: 80px;
  clear: both;
  background: #f1f1f1;
}


.clearfix {
  display: block
}
.clearfix::after {
  display: block;
  visibility: hidden;
  clear: both;
  height: 0;
  line-height: 0;
  font-size: 0;
  content: '.';
}

