@font-face {
  font-family: 'logo';
  src: url('/static/fonts/logo.eot?u0uasr');
  src: url('/static/fonts/logo.eot?u0uasr#iefix') format('embedded-opentype'), url('/static/fonts/logo.ttf?u0uasr') format('truetype'), url('/static/fonts/logo.woff?u0uasr') format('woff'), url('/static/fonts/logo.svg?u0uasr#logo') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'logo' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-baocun:before {
  content: "\e900";
}

.icon-baokuanresou:before {
  content: "\e901";
}

.icon-bianji:before {
  content: "\e902";
}

.icon-chenggong:before {
  content: "\e903";
}

.icon-chenggongfabu:before {
  content: "\e904";
}

.icon-dangkou:before {
  content: "\e905";
}

.icon-dianhua:before {
  content: "\e906";
}

.icon-dingbu:before {
  content: "\e907";
}

.icon-dingdan:before {
  content: "\e908";
}

.icon-fengxiang2:before {
  content: "\e909";
}

.icon-fenxiang1:before {
  content: "\e90a";
}

.icon-gengduo:before {
  content: "\e90b";
}

.icon-gongying:before {
  content: "\e90c";
}

.icon-guanbi1:before {
  content: "\e90d";
}

.icon-guanbi2:before {
  content: "\e90e";
}

.icon-hezuo:before {
  content: "\e90f";
}

.icon-huaxin:before {
  content: "\e910";
}

.icon-kefu:before {
  content: "\e911";
}

.icon-mima:before {
  content: "\e912";
}

.icon-qiugou:before {
  content: "\e913";
}

.icon-ruzhu:before {
  content: "\e914";
}

.icon-shangchuan:before {
  content: "\e915";
}

.icon-shiyi:before {
  content: "\e916";
}

.icon-shoucang2:before {
  content: "\e917";
}

.icon-shouji:before {
  content: "\e918";
}

.icon-suoyang:before {
  content: "\e919";
}

.icon-xiangji:before {
  content: "\e91a";
}

.icon-xuanzhong-copy-2:before {
  content: "\e91b";
}

.icon-xunjia:before {
  content: "\e91c";
}
